*{
    margin: 0;
    padding: 0;
}
.logo{
    width:20%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width:40%;
    border: 3px solid white;
    border-radius: 50px;
}
.navbar{
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
    width: 50%;
    display: flex;
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 26px 30px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
}
.nav-list li a:hover{
    color: red;
}
.rightNav{
    width: 50%;
   /* background-color: blueviolet;*/
    text-align: right;
    padding: 0 23px;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
.background{
    background: rgba(0, 0, 0, 0.7) url("img/bg.jpg");
    background-size: cover;
    background-blend-mode: darken;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 80%;
    margin:auto;
    height: 70%;
}
.firstsection{
    height: 100vh;
}
.firsthalf{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondhalf{
    width:30%;
}
.secondhalf img{
    width:80%;
    display: block;
    margin: auto;
}
.text-big{
    font-size: 40px;
}
.text-small{
    font-size: 20px;
}
.btn{
    padding: 8px 15px;
    margin: 8px,5px;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 15px;
    background: none;
    color: white;
    cursor: pointer;
}.btn-dark{
    color: black;
    border:2 px solid black;
    margin-left: 40%;
}
.secright{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 90%;
    margin: auto;
}
.paras{
    padding: 0px 70px;
}
.secleft{
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    max-width: 90%;
    margin: auto;
}
.contact{
    background-color: rgb(228, 221, 212);
    height: 34vh;
}
.text-center{
    text-align: center;
    padding-top: 3px;
    font-size: 20px;
}
.form input{
    width: 30%;
    padding: 1px 20px;
    margin-left: 40%;
}
.text-footer{
    text-align: center;
    
}


